extends layout

block content
  h1= title
  - let results=[{Tech_Name: "Java",Tech_Type:"Modern",Tech_Age:25},{Tech_Name: "Python",Tech_Type:"Modern",Tech_Age:30},{Tech_Name: "Kotlin",Tech_Type:"Latest_Trend",Tech_Age:10}]
  div(class="container-fluid")
    div(class="row m-1")
        each item in results
            - let destination = `dispatch(\"/costumes/update?id=${item._id}\")`
            div(class="row-sm-2", class="m-1") Item #{item.costume_type}(#{item.size}) is #{item.cost}
                
                p Name: #{item.Tech_Name}
                p Type: #{item.Tech_Type}
                p Age: #{item.Tech_Age}
                button.btn( class="btn-primary ml-1", onclick= destination) Update

    script.
        function dispatch(path){
            window.location.href=path
        }
            
  