extends layout

block content
 h1= title
 - let Tech_id = toShow._id
 - let Tech_Type = toShow.Tech_Type
 - let Tech_Age = toShow.Tech_Age
 - let Tech_Name = toShow.Tech_Name
    div
        div.row
            div(class='technologyAttr mr-3') Technology id is:
            div #{Tech_id}
        div.row
            div(class='technologyAttr mr-3') Technology Name is:
            div #{Tech_Name}
        div.row
            div(class='technologyAttr mr-3') Technology Type is:
            div #{Tech_Type}
        div.row
            div(class='technologyAttr mr-3') Technology Age is:
            div #{Tech_Age}