extends layout
block content
 h1= title
 - let technologyid = toShow._id
 - let technology_type = toShow.technology_type
 - let technology_name = toShow.technology_name
 - let technology_age = toShow.technology_age
 div
 div.row
 div(class='technologyAttr mr-3') Technology ID is:
 div #{technologyid}
 div.row
 div(class='technologyAttr mr-3') Technology Name is:
 div #{technology_name}
 div.row
 div(class='technologyAttr mr-3') Technology Type is:
 div #{technology_type}
 div.row
 div(class='technologyAttr mr-3') Technology Age is:
 div #{technology_age}